<h1>Editing Story of the Day</h1>

<!-- render the form partial -->

<!-- add a link to this vampire's show page --> |
<!-- add a link to the index page -->

<%= form_for @post do |f| %>

    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_field :content %>
    </div>

    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Back to the list!", posts_path %>
