<h1>Story of the Day</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>Story made by: </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %> -- </td>
        <td><%= post.user.name %> </td>
        <!-- <td><%= post.content %></td> -->
        <td><%= link_to "Read Story", post_path(post) %></td>
        -<td><%#= link_to "Edit Story", edit_post_path(post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Story", new_post_path %>
