

<table>
  <thead>
    <tr>
      <th><h3>Title</h3></th>
      <th><h3>Story told by: </h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><h4><%= post.title %> | </h4></td>
        <td><h4><%= link_to post.user.name, user_path(post.user) %> </h4></td>
        <td><h4><%= link_to "Read Story", post_path(post) %></h4></td>
        <td><h4><%= link_to "| Delete this Story!", post, method: :delete, data: {confirm: "Are you sure you want to delete this Story?"} if post.user == current_user %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Story", new_post_path %>
