<h1>New Story of the Day</h1>

<!-- render the form partial -->
<%= form_for @post do  |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

<div>
    <%= f.label :content %>
    <%= f.text_area :content %>
</div>



  <%= f.submit "Add a new Story!" %>

<% end %>
<!-- add a link to the index page -->
<%= link_to "Back to the list!", posts_path %>
