<p>
  <strong>title:</strong>
   <%= @post.title %>
</p>

<p>
  <strong>content:</strong>
   <%= @post.content %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.user.name %>
</p>

<%= render 'comments/comment' %>

<%= link_to "Back to the Stories!", posts_path %>
<%= link_to "| Delete this Story!", post_path, method: :delete, data: {confirm: "Are you sure you want to delete this Story?"} if @post.user == current_user %>
<%= link_to "| Edit this Story", edit_post_path(@post) if @post.user == current_user %>
