<!DOCTYPE html>
<html>
  <head>
    <title>StoryOfTheDay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="woods">
    <%= render 'partials/nav' %>
    <div class="container">


    <%# ----- add these lines here: ----- %>



    <%# ----- add these lines here: ----- %>

   <% if notice %>
     <%= notice %>
   <% end %>

   <% if alert %>
     <%= alert %>
   <% end %>
<h1 class="center padding-title">Story of the Day</h1>
   <%# ----- end of added lines ----- %>
    <%= yield %>
    </div>
  </body>
</html>
